.DS_Store
*.pkl
*.pyc
*.pyx
*.so
*.o
*.c
*.idea
*.in
RefactoringTasks.md
*.nc
*.idea/workspace.xml
build/
*.txt
src/.pytest_cache/*
src/AutoRefactor.py
figs/
_static/
_templates/
OutputFiles/
*.png
*.mod
